.LoginHero_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
.LoginBlack {
  width: 75%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.755);
}
.LoginDetails {
  width: 25%;
  height: 100%;
  background-color: var(--baseWhite);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 1%;
}
.LoginDetails_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 4%;
  background-color: var(--green);
}
.LoginDetails_header h2 {
  font-size: 1.3vw;
  color: var(--baseWhite);
}
.LoginDetails_header p {
  font-size: 1.8vw;
  color: var(--baseWhite);
  cursor: pointer;
}

.LoginDetails form {
  width: 100%;
  padding: 0 3%;
}
.LoginDetails form div {
  margin-top: 5%;
}
.LoginDetails form label {
  font-size: 1.2vw;
}
.LoginDetails form label sup {
  color: var(--baseRed);
  font-size: 0.5vw;
}
.LoginDetails form input {
  width: 100%;
  padding: 3% 3%;
  border-radius: 0.2rem;
  border: 0.1rem solid var(--liteGray);
  margin-top: 2%;
  font-size: 1.2vw;
}
.LoginDetails form button {
  margin-top: 15%;
  width: 100%;
  padding: 3% 0;
  background-color: var(--baseWhite);
  color: var(--baseBlack);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1.2vw;
  box-shadow: 0 0 0.1rem var(--baseGray);
}
.LoginDetails form button:hover {
  background-color: var(--baseOrange);
  color: var(--baseWhite);
}
.LoginDetails form p {
  font-size: 1.2vw;
  text-align: center;
  margin-top: 2%;
  cursor: pointer;
  color: var(--baseGray);
}
.LoginDetails_footer p {
  font-size: 1.3vw;
  text-align: center;
  margin-top: 2%;
  color: var(--baseGray);
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  
  .LoginBlack {
    width: 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.755);
  }
  .LoginDetails {
    width: 90%;
   
  }
  
  .LoginDetails_header h2 {
    font-size: 1.5vh;
  }
  .LoginDetails_header p {
    font-size: 2vh;
  }
  
  .LoginDetails form label {
    font-size: 1.4vh;
  }
  .LoginDetails form label sup {
    font-size: 0.7vh;
  }
  .LoginDetails form input {
    font-size: 1.4vh;
  }
  .LoginDetails form button {
    box-shadow: 0 0 0.1rem var(--baseGray);
    font-size: 1.5vh;
  }
  
  .LoginDetails form p {
    font-size: 1.4vh;
  }
  .LoginDetails_footer p {
    font-size: 1.5vh;
  }
  
}