.ReturnPolicy_main_container {
    width: 100%;
    padding: 2% 3.5rem;
  }
  .ReturnPolicy_main_container h3 {
    font-size: 1.3vw;
    color: var(--baseOrange);
  }
  .ReturnPolicy_main_container h2 {
    font-size: 1.3vw;
    margin-top: 1%;
  }
  
  .ReturnPolicy_main_container h1 {
    font-size: 1vw;
    margin-top: 1%;
    background-color: var(--liteGray);
    padding: 1%;
    border-radius: 0.3rem;
  }
  .ReturnPolicy_main_container ol li {
    font-size: 1.3vw;
    margin-left: 1.4%;
    margin-top: 1%;
  }
  .ReturnPolicy_main_container p {
    margin-top: 1%;
  }
  
  @media screen and (max-width: 768px) {
    .ReturnPolicy_main_container {
      padding: 2% 1rem;
    }
    .ReturnPolicy_main_container h3 {
      font-size: 1.5vh;
    }
    .ReturnPolicy_main_container h2 {
      font-size: 1.5vh;
    }
  
    .ReturnPolicy_main_container h1 {
      font-size: 1.2vh;
      margin: 3% 0;
    }
    .ReturnPolicy_main_container ol li {
      font-size: 1.5vh;
    }
  }
  