.password_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    height: 100vh;
}

.password_container input {
    width: 100%;
    padding: 3% 2%;
    color: black;
    font-weight: 500;
    border-radius: 5px;
    font-size: 1.2vw;
    border: none;
    outline: none;
}

.password_container button{
    padding: 4% 5%;
}