.ResetPassword_main_container {
  width: 100%;
  padding: 2% 3.5rem;
  color: var(--baseBlack);
  background-color: var(--baseWhite);
}
.ResetPassword_container {
  width: 45%;
}
.ResetPassword_container p b {
  font-size: 1.5vw;
}

.ResetPassword_container form {
  width: 100%;
  text-align: center;
}
.ResetPassword_container form h3 {
  margin-top: 2%;
}
.ResetPassword_InputBox {
  margin-top: 2%;
  width: 100%;
}

.ResetPassword_InputBox label p {
  font-size: 1.2vw;
  text-align: start;
}
.ResetPassword_InputBox label p span {
  color: var(--baseRed);
}
.ResetPassword_InputBox input {
  width: 100%;
  height: 2.5vw;
  border: 0.1vw solid var(--liteGray);
  border-radius: 0.5vw;
  margin-top: 0.5vw;
  padding: 4% 2%;
  font-size: 1.2vw;
  font-size: 1.1vw;
}
.ResetPassword_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.ResetPassword_btn button {
  height: 2.5vw;
  border: 0.1vw solid var(--liteGray);
  border-radius: 0.5vw;
  margin-top: 0.5vw;
  padding: 1% 7%;
  background-color: transparent;
  border: 1px solid var(--liteGray);
  font-size: 1.1vw;
  margin-top: 6%;
  cursor: pointer;
}
