.forgotPass_main_container {
  width: 100vw;
  height: 100vh;
  background-color: red;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  z-index: 10;
}
.LoginBlack {
  width: 75%;
  height: 100%;
  background-color: black;
}
.forgotPass_container {
  width: 25%;
  height: 100%;
  background-color: var(--baseWhite);
}
.LoginDetails_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 4%;
  background-color: var(--green);
}
.LoginDetails_header h2 {
  font-size: 1.3vw;
  color: var(--baseWhite);
}
.LoginDetails_header p {
  font-size: 1.8vw;
  color: var(--baseWhite);
  cursor: pointer;
}
.ForgotPassword_Box {
  padding: 2% 3%;
}
.ForgotPassword_Box input {
  width: 100%;
  padding: 4% 2%;
  margin-top: 4%;
  border-radius: 0.5rem;
  border: 2px solid var(--baseBlack);
}
.ForgotPassword_Box button {
  padding: 3% 10%;
  margin-top: 5%;
  background-color: var(--baseWhite);
  color: var(--baseBlack);
  font-weight: bold;
  font-size: 1.2vw;
  border: 2px solid var(--baseBlack);
}
.ForgotPassword_Box button:hover {
  background-color: var(--baseOrange);
  color: var(--baseWhite);
  border: 2px solid var(--baseOrange);
}

/* OTP */

.otpContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: orange;
  background-color: rgba(0, 0, 0, 0.73);
}
.input_phone_otp {
  width: 30%;
  height: auto;
  padding: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--baseWhite);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 3%;
  border-radius: 0.4rem;
}
.input_phone_otp h3 {
  font-size: 1.4vw;
  background-color: transparent;
  color: var(--baseBlack);
}
.input_phone_otp input {
  width: 4vh;
  height: 4vh;
  text-align: center;
}

.otp_input {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.input_phone_otp button {
  padding: 2% 5%;
  cursor: pointer;
  background-color: var(--baseOrange);
  color: var(--baseWhite);
  font-weight: bold;
  font-size: 1.1vw;
  border-radius: 0.4rem;
  border: 0.2rem solid var(--baseOrange);
}
