.container {
  height: 80vh;
  width: 100%;
  display: flex;
  /* padding: 1% 3.5rem; */
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;
  padding: 1vw 0;
}
.firstdiv {
  height: 48%;
  display: grid;
  width: 100%;
  grid-auto-rows: 16vw;
  padding: 1% 3.5rem;

  grid-template-columns: repeat(5, 1fr);
  gap: 1vw;
}
.firstdiv div {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  border-radius: 1vw;
  animation: shimmer 2s infinite;
}
.seconddiv {
  height: 48%;
  display: grid;
  width: 100%;
  gap: 1vw;
  padding: 1% 3.5rem;

  grid-auto-rows: 16vw;
  grid-template-columns: repeat(5, 1fr);
}

.seconddiv div {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  border-radius: 1vw;

  animation: shimmer 2s infinite;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0%;
  }
  100% {
    background-position: 200% 0;
  }
}
