.SearchShimmer_Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  border-radius: 0.5vw;
  grid-auto-rows: 25vw;
}
.childSearch {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  border-radius: 1vw;
  animation: shimmer 1s infinite;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0%;
  }
  100% {
    background-position: 200% 0;
  }
}
